*{
    margin: 0;
    padding: 0;
}

.seQuizz{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('../assets/images/img_bgquizz.webp');
    background-size: cover;
}
.Kahoot-title{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 2em;
    padding: 5px;
    background-color: #ffffffaf;
    font-weight: 100;
    width: 15%;

}
#quizz{
    background-color: #ffffffaf;
    width: 60%;
    margin: auto;
    margin-top: 10%;
    padding: 20px;
}
#quizz h3{
    font-size: 0.8em;
    font-weight: 100;
    width: 100%;
    text-align: end;
}
#quizz .ligne{
    margin-top: 10px;
    position: relative;
    border-bottom: 1px solid black;
    width: 100%;
}
#quizz p{
    font-size: 1.5em;
    font-weight: 100;
    margin-top: 15px;
    margin-bottom: 20px;

}
.answer{
    background-color: white;
    width: auto;
    padding: 5px;
    padding-bottom: 25px;
    margin-top: 12px;
    transform-origin: box-shadow;
    transition-duration: 500ms;
    cursor: pointer;
}
.answer:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.31);
}
@media (max-width: 640px) {
    #quizz{
        width: 90%;

    }
    .Kahoot-title{
        width: 90%;
        text-align: center;
    }
    #quizz p{
        margin-bottom: 20%;
    }
    .answer{
        
        margin-bottom: 10%;
    }

}