<div onclick="play()">click here</div>


<audio id="myAudio">
    <source src="../Template/assets/music/Christmas.mp3" type="audio/mp3">
    Votre navigateur ne prend pas en charge l'élément audio.
</audio>



<script src="../Template/js/musicNoël.js"></script>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="../Template/js/flocon.js"></script>
    <script type="module"  src="../Template/js/musicNoël.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script type="module"  src="../Template/js/flocon.js"></script>

</body>

</html>
