<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Template/css/style.css">
</head>
<body>
    <section class="fakeArticle">
        <h1>LE RÉCHAUFFEMENT CLIMATIQUE <br /> EST UN PRODUT DES <br />COMPLOTISTES.</h1>
        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.</p>

    </section>
    
</body>
</html>