   <section>
    <div class="one">
        <h2 class="question">Dans quelle décennie les scientifiques estiment-ils que les effets graves du réchauffement climatique pourraient être irréversibles si des mesures significatives ne sont pas prises ?</h2>
        <div class="reponse_affiche">
            <input class="reponse" type="text" maxlength="4">
            
        <input class="valider" type="button" value="valider">
    </div>
</div>

<div class="invisible two">
    <h2 class="question 2">Quel est le gaz à effet de serre le plus abondant responsable du réchauffement climatique?</h2>
    <div class="reponse_affiche_deux">
    <!-- <input class="reponse_deux" type="text"> -->
    <input class="bouton_deux" type="button" value="Dioxyde de carbone (CO2)">
    <input class="bouton_deux" type="button" value="Méthane (CH4)">
    <input class="bouton_deux" type="button" value="Protoxyde d'azote (N2O)">
    <input class="bouton_deux" type="button" value="Ozone (O3)">

</div>
</div>

<div class="invisible three">
    <h2 class="question 3">Les vaches contribuent-elles au réchauffement climatique en émettant du gaz à effet de serre ?</h2>
    <div class="reponse_affiche_trois">
    <!-- <input class="reponse_trois" type="text"> -->
    <input class="bouton_trois" type="button" value="vrai">
    <input class="bouton_trois" type="button" value="faux">
    <!-- <input class="valider_trois" type="button" value="valider"> -->
</div>
</div>

<div class="invisible four">
    <h2 class="question 4">Au cours des dernières décennies, la température mondiale moyenne a augmenté d'environ combien de degrés Celsius en raison du réchauffement climatique d'origine humaine?
    </h2>
    <div class="reponse_affiche_quatre">
    <input class="reponse_quatre" type="text">
    <input class="valider_quatre" type="button" value="valider">
</div>
</div>

<div class="invisible five">
    <h2 class="question 5">Parmi les options suivantes, quel moyen est généralement considéré comme l'un des plus efficaces pour atténuer le réchauffement climatique en réduisant les émissions de gaz à effet de serre?
    </h2>
    <div class="reponse_affiche_cinq">
    <input class="reponse_cinq" type="text">
    <input class="valider_cinq" type="button" value="valider">
</div>
</div>

<div class="invisible six">
    <h2 class="question 6">Classez ces activités en fonction de leur empreinte carbone, de la plus faible à la plus élevée :</h2>
    <div class="reponse_affiche_six">
    <input class="reponse_six" type="text">
    <input class="valider_six" type="button" value="valider">
</div>
</div>

    </section>
    <script type="module" src="../Template/js/function2.js"></script>
    <script type="module" src="../Template/js/kahoot.js"></script>

    <style>
        .visible {
            display: block;
        }
        .invisible {
            display: none;
        }
    </style>