   <section>
    <div class="1">
        <h2 class="question">Question</h2>
        <div class="reponse_affiche">
        <input class="reponse" type="text">
        <input class="valider" type="button" value="valider">
    </div>
</div>
<div class="2">
    <h2 class="question">Question</h2>
    <div class="reponse_affiche">
    <input class="reponse" type="text">
    <input class="valider" type="button" value="valider">
</div>
</div>
<div class="3">
    <h2 class="question">Question</h2>
    <div class="reponse_affiche">
    <input class="reponse" type="text">
    <input class="valider" type="button" value="valider">
</div>
</div>
<div class="4">
    <h2 class="question">Question</h2>
    <div class="reponse_affiche">
    <input class="reponse" type="text">
    <input class="valider" type="button" value="valider">
</div>
</div>
    </section>
    <script type="module" src="../Template/js/function2.js"></script>
    <script type="module" src="../Template/js/kahoot.js"></script>