<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Template/css/questionnaire.css">
</head>
<body>
    <section class="seQuizz">
        <h2 class="Kahoot-title">Kahoot Time</h2>

        <div id="quizz">
            <h3>Question 2 sur 6 - Q2/6</h3>
            <div class="ligne"></div>
            <div id="current-question">
                <p>Quel est le gaz à effet de serre le plus abondant responsable du réchauffement climatique ?</p>
                <div class="answer">Dioxyde de carbone (CO2)</div>
                <div class="answer">Méthane (CH4)</div>
                <div class="answer">Protoxyde d'azote (N2O)</div>
                <div class="answer">Vapeur d'eau (H2O)</div>
            </div>
        </div>

    </section>

    
</body>
</html>