<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../Template/css/questionnaire.css">
</head>
<body>
    <section class="seQuizz">
        <h2 class="Kahoot-title">Kahoot Time</h2>

        <div id="quizz">
           <h3 id="score"></h3>
            <div class="ligne"></div>
            <div id="current-question">

            
     
             
             
            </div>
        </div>

    </section>
  
    <script type="module" src="../Template/js/function.js"></script>
<script type="module" src="../Template/js/quizz.js"></script>
</body>
</html>