<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../Template/css/questionnaire.css">
</head>
<body>
    <!-- <section class="seQuizz">
        <h2 class="Kahoot-title">Kahoot Time</h2>

        <div id="quizz">
           <h3 id="score"></h3>
            <div class="ligne"></div>
            <div id="current-question">

            
     
             
             
            </div>
        </div>

    </section> -->
  
    <section class="seQuizz">
        <div class="one" id="#quizz">
            <h2 class="Kahoot-title" class="question">Dans quelle décennie les scientifiques estiment-ils que les effets graves du réchauffement climatique pourraient être irréversibles si des mesures significatives ne sont pas prises ?</h2>
            <div class="ligne"></div>
            <div class="reponse_affiche">
                <input class="reponse" type="text" maxlength="4">
                
            <input class="valider" type="button" value="valider">
        </div>
    </div>
    
    <div class="invisible two Kahoot-title">
        <h2 class="question 2">Quel est le gaz à effet de serre le plus abondant responsable du réchauffement climatique?</h2>
        <div class="reponse_affiche_deux">
        <!-- <input class="reponse_deux" type="text"> -->
        <input class="bouton_deux answer" type="button" value="Dioxyde de carbone (CO2)">
        <input class="bouton_deux answer" type="button" value="Méthane (CH4)">
        <input class="bouton_deux answer" type="button" value="Protoxyde d'azote (N2O)">
        <input class="bouton_deux answer" type="button" value="Ozone (O3)">
    
    </div>
    </div>
    
    <div class="invisible three Kahoot-title">
        <h2 class="question 3">Les vaches contribuent-elles au réchauffement climatique en émettant du gaz à effet de serre ?</h2>
        <div class="reponse_affiche_trois">
        <!-- <input class="reponse_trois" type="text"> -->
        <input class="bouton_trois answer" type="button" value="vrai">
        <input class="bouton_trois answer" type="button" value="faux">
        <!-- <input class="valider_trois" type="button" value="valider"> -->
    </div>
    </div>
    
    <div class="invisible four Kahoot-title">
        <h2 class="question 4">Au cours des dernières décennies, la température mondiale moyenne a augmenté d'environ combien de degrés Celsius en raison du réchauffement climatique d'origine humaine?
        </h2>
        <div class="reponse_affiche_quatre">
        <!-- <input class="reponse_quatre" type="text"> -->
        <!-- <input class="valider_quatre" type="button" value="valider"> -->
        <input class="bouton_quatre answer" type="button" value="0,5°C">
        <input class="bouton_quatre answer" type="button" value="1,5°C">
        <input class="bouton_quatre answer" type="button" value="2,5°C">
        <input class="bouton_quatre answer" type="button" value="4,5°C">
    </div>
    </div>
    
    <div class="invisible five Kahoot-title">
        <h2 class="question 5">Parmi les options suivantes, quel moyen est généralement considéré comme l'un des plus efficaces pour atténuer le réchauffement climatique en réduisant les émissions de gaz à effet de serre?
        </h2>
        <div class="reponse_affiche_cinq">
        <!-- <input class="reponse_cinq" type="text">
        <input class="valider_cinq" type="button" value="valider"> 
    -->
    <input class="bouton_cinq answer" type="button" value="Utiliser des ampoules à faible consommation d'énergie
    ">
    <input class="bouton_cinq answer" type="button" value="Développer des énergies renouvelables comme l'éolien et le solaire (vrai)">
    <input class="bouton_cinq answer" type="button" value="Utiliser des transports publics au lieu de véhicules individuels">
    </div>
    </div>
    
    <div class="invisible gagne">
        felicitation
    </div>
    
        </section>
        <script type="module" src="../Template/js/function2.js"></script>
        <script type="module" src="../Template/js/kahoot.js"></script>
    
        <style>
            .visible {
                display: block;
            }
            .invisible {
                display: none;
            }
        </style>
       <script type="module" src="../Template/js/function2.js"></script>
       <script type="module" src="../Template/js/kahoot.js"></script>
<!-- <script type="module" src="../Template/js/quizz.js"></script> -->
</body>
</html>