<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="quizz">
        <h2>Questionnaire</h2>
        <p></p>
        <p>Score : <span id="score"></span></p>
      
        <div id="current-question"></div>

    </section>
    <script type="module" src="../Template/js/function.js" ></script>
    <script type="module" src="../Template/js/quizz.js" ></script>
    
</body>
</html>